{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
  <form action="{% url 'changePassword' %}" method=post>
    {% csrf_token %}
      <div class="form-group">
              <label for="uoremail" class="font-weight-bold">Enter your username or Email</label>
              <input type="text" class="form-control col-md-6" id="uoremail" name="uoremail">
            </div>

            <button type="submit" name="" id="" class="btn btn-primary">Send Mail</button>
  </form>
</div>
  

{% endblock content %}

